// SASS GLOBALS BLOCK
$blue: #0a7ac9;
$red: #e53d00;
$black: #010101;
$white: #f5f5f5;
$track-w: 100%;
$track-h: 0.25em;
$thumb-d: 1em;
$track-c: lightgrey;
$fill-c: $blue;
$thumb-c: $black;
$buttonColor: $blue;
$activeColor: $blue;
$activeBG: #eee;
$mainFont: "Red Hat Text", sans-serif;
$mainColor: #333;
$mainBG: $white;
$loopColor: $red;
// SASS GLOBALS BLOCK

// SASS MIXINS BLOCK
@mixin track($fill: 0) {
  box-sizing: border-box;
  max-width: $track-w;
  height: $track-h;
  background: $track-c;
  border-radius: 6px;

  @if $fill == 1 {
    // .ltFormRange & {
    padding-top: 1.5px;
    padding-bottom: 1.5px;
    background: linear-gradient($fill-c, $fill-c)
      0 /
      var(--sx)
      100%
      no-repeat
      $track-c;
    // }
  }
}

@mixin fill() {
  height: $track-h;
  background: $fill-c;
  border-radius: 6px;
}

@mixin thumb() {
  box-sizing: border-box;
  background: $thumb-c;
  width: $thumb-d;
  height: $thumb-d;
  border-radius: 50%;
  // box-shadow: 0 0 0 7px rgba(0, 174, 239, 0.4);
}
// SASS MIXINS BLOCK

.plvylist {
  padding: 1rem;
  font: {
    family: $mainFont;
    size: 16px; // force the base font size of the component
  }
  color: $mainColor;
  background-color: $mainBG;
  width: 100%;
  max-width: 45em;
  margin: auto;

  img {
    max-width: 100%;
    display: block;
    margin: auto;
    height: auto;

    &#artwork {
      box-shadow: 0 0 5px 1px #0a0a0a;
    }
  }

  .plvy--meta {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 1em;
  }

  .plvy--track-info p {
    margin: 0;
    font-size: var(--step--2);
  }

  .plvy--controls {
    display: flex;
    align-items: center;

    .controls__primary {
      display: flex;
      width: 100%;
      flex: 1;

      #fwd {
        margin-right: auto;
      }

      #loop.loop--active svg {
        stroke: $loopColor;
      }
    }

    .controls__secondary {
      .plvy--volume {
        display: inline-flex;
        align-items: center;
        gap: 0.5em;
      }
    }

    button {
      border: none;
      border-radius: 25%;
      background: none;
      transition: background 0.1s ease-in-out;

      svg {
        stroke: #333;
        transition: stroke 0.1s ease-in-out;
      }

      &:hover svg {
        stroke: $buttonColor;
      }
    }
  }

  .plvy--seeker {
    margin: 1em auto;
  }

  .plvy--tracklist {
    .plvy--song__title:hover {
      text-decoration: underline;
      cursor: pointer;
    }

    #plvy--songs {
      padding-left: 2em;
      line-height: 1.5;
      font-size: var(--step--2);

      .plvy--song {
        padding: 0 0.5em;

        &:hover {
          background: $activeBG;
        }
      }

      .plvy--song__active {
        color: $activeColor;
      }
    }
  }
}

/* ==============
ALL THE STYLES FOR THE SLIDER INPUTS BELOW HERE
=============== */
.plvylist input[type="range"] {
  &,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &,
  &:focus {
    border: none;
    box-shadow: none;
    -webkit-appearance: none;
  }

  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--val) - var(--min)) / var(--range));
  --sx: calc(0.5 * #{$thumb-d} + var(--ratio) * (100% - #{$thumb-d}));
  margin: 0;
  padding: 0;
  max-width: $track-w;
  height: $track-h;
  background: transparent;
  font: 1em/1 arial, sans-serif;

  &::-webkit-slider-runnable-track {
    @include track(1);
  }
  &::-moz-range-track {
    @include track;
    padding-top: 1.5px;
    padding-bottom: 1.5px;
  }
  &::-ms-track {
    @include track;
  }

  &::-moz-range-progress {
    @include fill;
  }

  &::-webkit-slider-thumb {
    margin-top: -9px;
    @include thumb;
  }
  &::-moz-range-thumb {
    border: none;
    @include thumb;
  }

  display: inline-block;
  width: 100%;
  height: 31px;
  padding: 0;

  &:focus {
    outline: none;
  }
}

/*** Firefox Code Needed ***/

.plvylist input[type="range"]::-moz-focus-outer {
  border: none !important;
}

/*** IE/Edge code needed ***/
.plvylist input[type="range"]::-ms-track {
  color: transparent;
  border: none !important;
}
.plvylist input[type="range"]::-ms-tooltip {
  display: none;
}
.plvylist input[type="range"]::-ms-fill-lower {
  background: $fill-c;
}
.plvylist input[type="range"]::-ms-fill-upper {
  background: $track-c;
}
.plvylist input[type="range"]::-ms-thumb {
  margin-top: 1px !important;
  height: 10px !important;
  width: 10px !important;
  border-radius: 50%;
  background: $thumb-c;
  cursor: pointer;
  border: 10px solid $thumb-c !important;
  box-shadow: none !important;
}
/* ==============
ALL THE STYLES FOR THE SLIDER INPUTS ABOVE HERE
=============== */

@media only screen and (max-width: 375px) {
  .plvylist {
    .plvy--controls {
      flex-direction: column;

      .controls__primary {
        justify-content: center;

        #fwd {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .plvylist {
    .plvy--meta {
      display: grid;
      grid-template-columns: 300px 1fr;
      align-items: end;
    }
  }
}
