:host {
  accent-color: var(--plvylist-accent, royalblue);
  box-sizing: border-box;
  display: block;
  font-family: var(--plvylist-font, inherit);
  line-height: var(--plvlist-line-height, 1.5);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
}

#artwork {
  block-size: auto;
  max-inline-size: 100%;
}

.meta {
  align-items: flex-end;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

#next {
  margin-inline-end: auto;
}

.loop--active svg {
  stroke: var(--plvylist-changed, crimson);
}

.seeker {
  margin-block: 1rem;
}

.volume {
  display: inline-flex;
}

:is(.controls, .song) button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font: inherit;
  stroke: currentColor;
}

.controls {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 1rem;
}

.controls button:hover svg {
  opacity: 0.666;
}

.controls__primary {
  display: flex;
  flex: 1;
  inline-size: 100%;
  justify-content: center;
}

.song__title {
  text-align: inherit;
  transition: 0.1s color ease-in-out;
}

.song__active button,
.song__title:hover {
  opacity: 0.666;
  text-decoration: underline;
}

input[type="range"] {
  inline-size: 100%;
}

img[src^="data:image/svg+xml"] {
  filter: contrast(0.5);
}
